//mixins
@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

//variables
$text-color: red;

//nesting
.blog-post {
  h1 {
    text-align: center;
    color: blue;
  }
  p {
    font-size: 20px;
  }
}
#awesome {
  width: 150px;
  height: 150px;
  background-color: green;
  @include border-radius(15px);
}

.header{
    text-align: center;
  }
  .blog-post, h2 {
    color: $text-color;
  }